/* 
    Created on : 07-ago-2014, 16:17:13
    Author     : Diego
*/
table.formulario{
    box-sizing: border-box;
    border-collapse: collapse;
    border: 1px solid rgba(0,0,0,0.2);
}
table.formulario caption{
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    color:#fff;
    text-shadow: 0px 1px 0px #000;
    background-color: #6894FC;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.0) 90%);
    box-shadow: inset 0px -1px 0px rgba(255,255,255,0.4), inset 0px 1px 0px rgba(255,255,255,0.4);
    border: 1px solid rgba(0,0,0,0.8);
    border-bottom: 1px solid rgba(0,0,0,0.4);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center;
}
table.formulario td{
    padding: 10px;
}
table.formulario tr.filaDoble4060 td:first-child{
    width: 40%;
}
table.formulario tr.fila4060 td:last-child{
    width: 60%;
}
table.formulario tr.filaDoble3070 td:first-child{
    width: 30%;
}
table.formulario tr.filaDoble3070 td:last-child{
    width: 70%;
}
table.formulario tr.filaDoble2080 td:first-child{
    width: 20%;
}
table.formulario tr.filaDoble2080 td:last-child{
    width: 80%;
}
table.formulario tr.filaDoble5050 td:first-child{
    width: 50%;
}
table.formulario tr.filaDoble5050 td:last-child{
    width: 50%;
}

