/* 
    Created on : 31-jul-2014, 17:21:52
    Author     : Diego
*/
*{
    margin: 0px;
    padding: 0px;
}
.fontFormal{
    font-family: 'Nunito', serif;
}
.fontInformal{
    font-family: 'Roboto', sans-serif;
}
body{
    background-color: #eee;
    min-width: 1000px;
}
a{
    text-decoration: none;
}
.clear{
    clear:both;
}
.centrado{
    box-sizing: border-box;
    width:90%;
    margin:10px auto;
}
.fillParent{
    width: 100%;
    box-sizing: border-box;
}
#cabecera{
    box-sizing: border-box;
    width: 100%;
    background-color: #6894FC;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.0) 90%);
    box-shadow: 0px 4px 2px rgba(0,0,0,0.2), inset 0px -1px 0px rgba(255,255,255,0.6);
    border-bottom: 1px solid rgba(0,0,0,0.2);
    padding: 15px;
}
#tituloSitio{
    width: 80%;
    margin: 0px auto;
    color:#fff;
    text-shadow: 0px 1px 2px #000;
}
#contenido{
    width: 80%;
    margin:20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.2);
    border-radius: 10px;
}
.tituloSeccion{
    text-align: center;
    text-shadow: 0px 0px 8px rgba(0,0,0,0.2);
}
.cabeceraEncuesta{
    border-bottom: 1px solid rgba(0,0,0,0.2);
    padding-bottom: 10px;
}
.tituloEncuesta{
    text-align: center;
    font-size: 28px;
    color:#fff;
    text-shadow: 0px 2px 0px rgba(0,0,0,0.8), 0px 2px 8px rgba(0,0,0,0.4);
    background-color: #91B2FF;
    border-radius: 5px;
    padding: 10px;
    box-shadow: inset 0px 0px 20px 5px rgba(0,0,0,0.2), inset 0px 1px 0px rgba(255,255,255,0.6), 0px 2px 6px 1px rgba(0,0,0,0.3);
    border: 1px solid rgba(0,0,0,0.4);
}
.descripcionEncuesta{
    margin-top: 30px;
    text-align: justify;
    line-height: 26px;
    word-spacing: 8px;
}
.descripcionEncuesta p{
    padding-bottom: 12px;
}
.pregunta{
    padding: 15px 10px;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}
.seccionPregunta{
    margin-bottom: 10px;
}
.tituloPregunta{
    font-weight: normal;
    /*text-shadow: 0px 1px 0px #000;*/
}
.piePregunta{
    padding: 15px 10px;
}
#btnEnviar{
    float:right;
    width:200px;
}
/* Campo de texto */
input[type=text].general{
    padding:5px;
    font-family: 'Roboto', sans-serif;
    font-size:16px;
    border-radius: 4px;
    box-shadow: inset 0px 0px 4px rgba(0,0,0,0.2);
    border:solid 1px rgba(0,0,0,0.2);
    transition: all 0.2s;
}
input[type=text].general:focus{
    box-shadow: inset 0px 0px 4px rgba(0,0,0,0.2), 0px 0px 4px 1px #91B2FF;
    outline: 0px;
}
/* TextArea */
textarea.general{
    box-sizing: border-box;
    padding:5px;
    font-family: 'Roboto', sans-serif;
    font-size:16px;
    border-radius: 4px;
    box-shadow: inset 0px 0px 4px rgba(0,0,0,0.2);
    border:solid 1px rgba(0,0,0,0.2);
    width: 100%;
    height: 100px;
    min-width: 80%;
    min-height: 100px;
    max-width: 100%;
    max-height: 240px;
    transition: all 0.2s;
}
textarea.general:focus{
    box-shadow: inset 0px 0px 4px rgba(0,0,0,0.2), 0px 0px 4px 1px #91B2FF;
    outline: 0px;
}
/* Select */
select.general{
    font-family: 'Roboto', sans-serif;
    font-size:15px;
    padding:5px 10px;
    border-radius: 4px;
    background-image: linear-gradient(to top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0.0) 20%, rgba(0,0,0,0.0) 80%, rgba(0,0,0,0.1) 100%);
    border:1px solid rgba(0,0,0,0.4);
    box-shadow:0px 0px 4px rgba(0,0,0,0.2), inset 0px -1px 1px rgba(0,0,0,0.2);
}
/* Radio */
input[type=radio].general{
    margin-top: 10px;
    margin-bottom: 10px;
}
/* Checkbox */
input[type=checkbox].general{
    margin-top: 10px;
    margin-bottom: 10px;
}
/* Todos los generales */
input[type=text].general, textarea.general, input[type=radio].general, input[type=checkbox].general, select.general{
    
}